USE [master]
GO
/****** Object:  Database [TicTacToe]    Script Date: 28/02/2017 04:35:01 p.m. ******/
CREATE LOGIN [player] WITH PASSWORD=N'Play3r', DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
CREATE DATABASE [TicTacToe] ON  PRIMARY 
( NAME = N'JE', FILENAME = N'D:\DB\TicTacToe.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JE_log', FILENAME = N'D:\DB\TicTacToe_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicTacToe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicTacToe]
GO
/****** Object:  User [player]    Script Date: 28/02/2017 04:35:01 p.m. ******/
CREATE USER [player] FOR LOGIN [player] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  StoredProcedure [dbo].[tic_CheckEndGame]    Script Date: 28/02/2017 04:35:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[tic_CheckEndGame]
AS

--  Created by: Felipe Maurer
--  Date: Feb 28 2017
--  Purpose: Check if the end of the game is reached and who wins

SET NOCOUNT ON

IF (
       SELECT COUNT(*)
       FROM   tic_Board AS tb
       WHERE  tb.ID_Position IN (1, 2, 3)
              AND tb.[Letter] = 'X'
   ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (4, 5, 6)
                 AND tb.[Letter] = 'X'
      ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (7, 8, 9)
                 AND tb.[Letter] = 'X'
      ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (1, 4, 7)
                 AND tb.[Letter] = 'X'
      ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (2, 5, 8)
                 AND tb.[Letter] = 'X'
      ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (3, 6, 9)
                 AND tb.[Letter] = 'X'
      ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (1, 5, 9)
                 AND tb.[Letter] = 'X'
      ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (3, 5, 7)
                 AND tb.[Letter] = 'X'
      ) = 3
BEGIN
    PRINT 'X wins'
    RETURN
END
    
IF (
       SELECT COUNT(*)
       FROM   tic_Board AS tb
       WHERE  tb.ID_Position IN (1, 2, 3)
              AND tb.[Letter] = 'O'
   ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (4, 5, 6)
                 AND tb.[Letter] = 'O'
      ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (7, 8, 9)
                 AND tb.[Letter] = 'O'
      ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (1, 4, 7)
                 AND tb.[Letter] = 'O'
      ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (2, 5, 8)
                 AND tb.[Letter] = 'O'
      ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (3, 6, 9)
                 AND tb.[Letter] = 'O'
      ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (1, 5, 9)
                 AND tb.[Letter] = 'O'
      ) = 3
   OR (
          SELECT COUNT(*)
          FROM   tic_Board AS tb
          WHERE  tb.ID_Position IN (3, 5, 7)
                 AND tb.[Letter] = 'O'
      ) = 3
BEGIN
    PRINT 'O wins'
    RETURN
END
    
IF (
       SELECT COUNT(*)
       FROM   tic_Board AS tb
       WHERE  tb.[Letter] = ' '
   ) = 0
BEGIN
    PRINT 'It''s a tie'
END
ELSE
	BEGIN
		PRINT 'Nothing to report'
	END

GO
/****** Object:  StoredProcedure [dbo].[tic_ComputerMove]    Script Date: 28/02/2017 04:35:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tic_ComputerMove]
AS

--  Created by: Felipe Maurer
--  Date: Feb 28 2017
--  Purpose: CMake a move for the Computer side, checking the Best Moves table

SET NOCOUNT ON

DECLARE @Hash             INT,
	    @WhosNext         CHAR(1),
	    @BestNextMove     INT
	
SELECT @Hash = SUM(
	        POWER(3, ID_Position - 1) *
	        CASE tb.Letter
	            WHEN ' ' THEN 2
	            WHEN 'O' THEN 1
	            WHEN 'X' THEN 0
	        END
	    )
FROM   tic_Board AS tb
	
SELECT @WhosNext = WhosNext,
	    @BestNextMove     = BestNextMove
FROM   tic_BestMoves
WHERE  id                = @Hash;
	
UPDATE tic_Board
SET    Letter           = @WhosNext
WHERE  ID_Position     = @BestNextMove
	

GO
/****** Object:  StoredProcedure [dbo].[tic_NewBoard]    Script Date: 28/02/2017 04:35:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- creates a clean board
CREATE PROCEDURE [dbo].[tic_NewBoard]
AS
--  Created by: Felipe Maurer
--  Date: Feb 28 2017
--  Purpose: Create or clean the Board

SET NOCOUNT ON
	
DELETE tic_Board 
INSERT tic_Board
	(
	ID_Position
	)
VALUES
	(1), (2), (3), (4), (5), (6), (7), (8), (9);


GO
/****** Object:  StoredProcedure [dbo].[tic_PlayerMove]    Script Date: 28/02/2017 04:35:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tic_PlayerMove]
	@Position CHAR(2)
AS
--  Created by: Felipe Maurer
--  Date: Feb 28 2017
--  Purpose: Check if the Player move is valid and then make it. Then, make a Computer move.
	
IF LEFT(@Position, 1) NOT IN ('a', 'b', 'c')
	OR CAST(RIGHT(@Position, 1) AS INT) NOT BETWEEN 1 AND 3
BEGIN
	PRINT 'The position does not exist'
	RETURN
END
	
SET NOCOUNT ON
	
DECLARE @ID_Position INT
	
SELECT @ID_Position = CASE LEFT(@Position, 1)
	                        WHEN 'a' THEN 0
	                        WHEN 'b' THEN 3
	                        ELSE 6
	                    END + CAST(RIGHT(@Position, 1) AS INT)
	
IF @ID_Position NOT BETWEEN 1 AND 9
BEGIN
	PRINT 'The position does not exist'
	RETURN
END
	
IF (
	    SELECT tb.Letter
	    FROM   tic_Board AS tb
	    WHERE  tb.ID_Position = @ID_Position
	) <> ' '
BEGIN
	PRINT 'The position is already taken'
	RETURN
END

DECLARE @letter CHAR(1)

IF (SELECT COUNT(*) FROM tic_Board AS tb WHERE tb.Letter <> ' ') = 0
BEGIN
	SELECT @letter = 'X'
END
ELSE
	IF(SELECT COUNT(*) FROM tic_Board AS tb WHERE tb.Letter = 'X') = (SELECT COUNT(*) FROM tic_Board AS tb WHERE tb.Letter = 'O')
	BEGIN
		SELECT @letter = 'X'
	END
	ELSE
		BEGIN
			SELECT @letter = 'O'
		END
	
UPDATE tic_Board
SET    Letter = @letter
WHERE  ID_Position = @ID_Position
	

GO
/****** Object:  StoredProcedure [dbo].[tic_PrintBoard]    Script Date: 28/02/2017 04:35:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- prints out the 
CREATE PROCEDURE [dbo].[tic_PrintBoard]
AS
--  Created by: Felipe Maurer
--  Date: Feb 28 2017
--  Purpose: Print the current Board

SET NOCOUNT ON

DECLARE @Position1     CHAR(1),
	    @Position2     CHAR(1),
	    @Position3     CHAR(1),
	    @Position4     CHAR(1),
	    @Position5     CHAR(1),
	    @Position6     CHAR(1),
	    @Position7     CHAR(1),
	    @Position8     CHAR(1),
	    @Position9     CHAR(1)
	
SELECT @Position1 = Letter
FROM   tic_Board
WHERE  ID_Position = 1
	
SELECT @Position2 = Letter
FROM   tic_Board
WHERE  ID_Position = 2
	
SELECT @Position3 = Letter
FROM   tic_Board
WHERE  ID_Position = 3
	
SELECT @Position4 = Letter
FROM   tic_Board
WHERE  ID_Position = 4
	
SELECT @Position5 = Letter
FROM   tic_Board
WHERE  ID_Position = 5
	
SELECT @Position6 = Letter
FROM   tic_Board
WHERE  ID_Position = 6
	
SELECT @Position7 = Letter
FROM   tic_Board
WHERE  ID_Position = 7
	
SELECT @Position8 = Letter
FROM   tic_Board
WHERE  ID_Position = 8
	
SELECT @Position9 = Letter
FROM   tic_Board
WHERE  ID_Position = 9
	
PRINT '  1|2|3'
PRINT '---------'
PRINT 'A|' + @Position1 + '|' + @Position2 + '|' + @Position3
PRINT '---------'
PRINT 'B|' + @Position4 + '|' + @Position5 + '|' + @Position6
PRINT '---------'
PRINT 'C|' + @Position7 + '|' + @Position8 + '|' + @Position9


GO
/****** Object:  Table [dbo].[tic_BestMoves]    Script Date: 28/02/2017 04:35:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tic_BestMoves](
	[id] [smallint] NOT NULL,
	[BestNextMove] [tinyint] NOT NULL,
	[WhosNext] [char](1) NOT NULL DEFAULT ('X'),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tic_Board]    Script Date: 28/02/2017 04:35:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tic_Board](
	[ID_Position] [int] NOT NULL,
	[Letter] [char](1) NOT NULL DEFAULT (' '),
PRIMARY KEY CLUSTERED 
(
	[ID_Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tic_BestMoves] ([id], [BestNextMove], [WhosNext]) VALUES (770, 1, N'X')
GO
INSERT [dbo].[tic_BestMoves] ([id], [BestNextMove], [WhosNext]) VALUES (773, 1, N'O')
GO
INSERT [dbo].[tic_BestMoves] ([id], [BestNextMove], [WhosNext]) VALUES (779, 1, N'O')
GO
ALTER TABLE [dbo].[tic_Board]  WITH CHECK ADD CHECK  (([ID_Position]>=(1) AND [ID_Position]<=(9)))
GO
ALTER TABLE [dbo].[tic_Board]  WITH CHECK ADD CHECK  (([Letter]=' ' OR [Letter]='O' OR [Letter]='X'))
GO
USE [master]
GO
GRANT EXECUTE ON tic_PrintBoard TO player
GO
GRANT EXECUTE ON tic_CheckEndGame TO player
GO
GRANT EXECUTE ON tic_ComputerMove TO player
GO
GRANT EXECUTE ON tic_NewBoard TO player
GO
GRANT EXECUTE ON tic_PlayerMove TO player
GO
GRANT EXECUTE ON tic_PrintBoard TO player
GO
